body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


h4{
  margin: 0%;
  padding-left: 10px;
}

hr{
  margin: 0%;
}

.ipod{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 70vh;
  width: 20vw;
}

.ipodScreen{
  height: 50%;
  width: 100%;
  background-color: lightgray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  box-shadow: 5px 10px 30px 5px darkgray;
}

.screen{
  height: 90%;
  width: 95%;
  background-color: white;
  border-radius: 1rem;
  border: 1px solid black;
  background-image: url('/public/cover_art.png');
  background-repeat: 'no-repeat';
  background-size: 100% 100%;
}


/* css for menu page */
.screenMenu{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 90%;
  width: 100%;
  flex-wrap: nowrap;
}

/* when an option is white this class is used*/
.menuItem{
  margin-bottom: 0%;
  height: 20%;
  width: 85%;
  padding-left: 10px;
  display: flex;
  align-items: center;
}

/* when an option is blue this class is used*/
.activemenuItem{
  margin-bottom: 0%;
  height: 20%;
  width: 85%;
  padding-left: 10px;
  background-color: #0F88CB;
  display: flex;
  align-items: center;
  color: white;
}

.displayPage{
  display: "flex"; 
  flex-direction: "column"; 
  align-items:"center";
  justify-content:"center"; 
  height: "100%"; 
  width: '100%'; 
  background-color: 'white'; 
  border-radius: '1rem';
}



.ipodControls{
  background-color: lightgray;
  position: relative;
  height: 50%;
  width: 100%;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 10px 30px 5px darkgray;
}

.outerCircle{
  height: 80%;
  width: 60%;
  background-color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}


.ipodButtons{
  height: 100%;
  width: 100%;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.menuButtonDiv{
  height: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.forwardBackward{
  height: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.forwardBackwardButtonDiv{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.forwardBackwardIcon{
  display: flex;
  justify-content: center; /* Horizontally center the content */
  align-items: center; 
}

.roundButton{
  height: 90%;
  width: 45%;
  border-radius: 50%;
  background-color: gray;
  z-index: 100;
  border: 0;
  cursor: pointer;
}

.playPauseIcons{
  color: gray;
   cursor: "pointer"
}
